body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container {
    width: 500px;
    height: 200px;
    background-color: lightgray;
    border: 5px solid black;
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}